<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Flask App</title>
  </head>
  <body>
    <h1>Welcome to Flask integration with HTML and CSS!</h1>
    <form>
      <div>
        <label for="data440">DATA440</label>
        <input
          type="text"
          id="data440"
          name="data440"
          placeholder="Enter DATA440"
        />
      </div>
      <div>
        <label for="arti404">ARTI404</label>
        <input
          type="text"
          id="arti404"
          name="arti404"
          placeholder="Enter ARTI404"
        />
      </div>
      <div>
        <label for="arti406">ARTI406</label>
        <input
          type="text"
          id="arti406"
          name="arti406"
          placeholder="Enter ARTI406"
        />
      </div>
      <div>
        <label for="arti408">ARTI408</label>
        <input
          type="text"
          id="arti408"
          name="arti408"
          placeholder="Enter ARTI408"
        />
      </div>

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
